.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    background-color: greenyellow;
    font-size: 30;
    font-weight: bold;
    margin: 10px;
    width: 90%;
    border: 1px solid black;
}

.success {
    background-color: #D1E7DD;
    color: black;
    font-weight: 700;
    font-size: 16;
}

.error {
    background-color: #F8D7DA;
    color: black;
    font-weight: 500;
    font-size: 16;
    width: 90%;
    border: 1px solid black;
    margin-bottom: 5px;
    text-align: left;
}

.modal {
    width: 100%;
}

.body {
    background-color: chocolate;
    width: 100%;

}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(139, 139, 243);
}

.btnProcess {
    background-color:#198754;
    width: 100px;
    height: 30px;
    color:#FFF;
    margin: 10px;
}

.btnCancel {
    background-color:#DC3545;
    width: 100px;
    height: 30px;
    color:#FFF;
    margin: 10px;
}
.type {
    font-size: 20;
    background-color: rgb(44, 7, 90);
    color: white;
    padding: 10px;
    align-items: center;
}

.select {
    margin-left: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
    color: #333;

  }
  
  .select:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .select option {
    padding: 8px;
  }