.footer {
    background-color: #343a40;
    color: white;
    height: 25px;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10; /* Asegura que el footer esté por encima del contenido */
  }
  
.message_short {
    flex: 0.06;
    text-align: center;
    border-left: 2px solid white;
    border-right: 2px solid white  
}

.message {
    flex: 1;
    padding-left: 10px;
    text-align: left;   
}

.success {
    background-color: #198754;
}

.info {
    background-color: #0D6EFD;
}

.error {
    background-color: #DC3545;
}

.default {
    background-color: 343a40;
}